@page "/share"

@inherits ShareLoadedFileBase
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<div>
    <h1>Export your stats</h1>

    <p>Click the link below to down a copy of your save file in JSON form.</p>
    <p>This may be useful to see more information that's not shown on ngusav.es or to import into other tools.</p>
    <button @onclick="SaveAsJSON">Save as JSON</button>
</div>
